
body {
  font-family: Arial;
  padding-bottom: 3em;
}

nav {
  margin: -0.5em;
  padding-top: 1em;
}

#navbar .item {
  padding: 0.75em;
}

#welcome {
  display: table;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

header {
  text-align: center;
}

#navbar > button, #navbar > span > button {
  border-radius: 7px;
}

#mode > button {
  margin: 0.5em;
  border-radius: 7px;
  padding: 0.5em;
}

#light, #bright {
  border: 1px solid black;
}

#bright {
  background: DodgerBlue;
}

#night {
  background: black;
  border: 1px solid white;
  color: white;
}

#content {
  margin-left: 2em;
  margin-right: 2em;
}

.project-tile {
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  border-top: 2px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  padding: 1em;
  text-align: center;
}

.project-content {
  padding: 1em;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-top: -1em;
}

.project-content > article {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 0px) {

  .item {
    margin: 1em 1em 0em;
  }

  nav {
    height: 165px;
  }

  #navbar  {
    display: none;
  }

  #navicon {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    left: 0;
  }

  #navicon .icon {
    margin: 0.5em 1em 0.5em;
  }

  #navicon img {
    width: 1.5em;
  }

  #mode {
    background: rgb(170, 170, 170);
    border: 1px solid black;
    justify-content: space-evenly;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .project-content > img {
    display: none;
  }

  #skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #navbar img {
    max-width: 150px;
    margin-left: calc(50% - 75px);
  }

  figure img {
    max-width: 150px;
    margin-left: calc(50% - 75px);
  }

  .skills-image {
    width: 275px;
  }

  figcaption {
    text-align: center;
  }

}

@media (min-width: 200px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  #navicon .item:nth-child(1) {
    grid-area: home;
  }

  #navicon .item:nth-child(2) {
    grid-area: about;
  }

  #navicon .item:nth-child(3) {
    grid-area: experience;
  }

  #navicon .item:nth-child(4) {
    grid-area: projects;
  }

  #navicon .item:nth-child(5) {
    grid-area: skills;
  }

  #navicon .item:nth-child(6) {
    grid-area: empty;
  }

  #navicon  {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "home about experience"
      "projects skills empty";
  }

}

@media (min-width: 340px) {

  .item {
    margin: 1em 1.5em 0em;
  }

}

@media (min-width: 410px) {

  .item {
    margin: 1em 2em 0em;
  }

}

@media (min-width: 450px) {

  #navbar .item {
    margin: 1em 2.5em 0em;
    padding: 0.75em;
  }

  .grid {
    display: flex;
  }

}

@media (min-width: 520px) {

  .item {
    margin: 1em 3em 0em;
  }

}

@media (min-width: 560px) {

  .grid .item:nth-child(1) {
    grid-area: home;
  }
  .grid .item:nth-child(2) {
    grid-area: about;
  }
  .grid .item:nth-child(3) {
    grid-area: experience;
  }
  .grid .item:nth-child(4) {
    grid-area: projects;
  }
  .grid .item:nth-child(5) {
    grid-area: skills;
  }
  .grid .item:nth-child(6) {
    grid-area: empty;
  }

  .grid {
    display: grid;
    gap: 1.5vh;
    padding: 1vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "home about experience"
      "projects skills empty";
  }

  #navbar  {
    display: grid;
  }

  #navicon  {
    display: flex;
  }

}

@media (min-width: 580px) {

  .project-content > img {
    display: block;
    width: 100%;
  }

}

@media (min-width: 800px) {

  #navbar  {
    display: flex;
  }

}
