
body {
  background: DodgerBlue;
  font-family: Arial;
}

#navbar {
  list-style: none;
  text-align: center;
}

#welcome {
  display: table;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

#welcome, header {
  margin: auto;
}

header {
  text-align: center;
}

@media (min-width: 0px) {

  .item {
    margin: 1em 1em 0em;
  }

}

@media (min-width: 240px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

}

@media (min-width: 270px) {

}

@media (min-width: 430px) {

}

@media (min-width: 450px) {

  .item {
    padding: 0.5em;
  }

}
