
body {
  background: DodgerBlue;
  font-family: Arial;
}

#navbar {
  list-style: none;
}

#welcome {
  display: table;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

#welcome, header {
  margin: auto;
}

header {
  text-align: center;
}

@media (min-width: 0px) {

  .item {
    padding: 0em 2em 1em;
  }

}
